// assets/styles/header.scss
@use './variables' as *;

.navbar {
  // .nav-link {
  //   color: $dark-blue !important;
  //   transition: color 0.3s ease;
    
  //   &:hover, &.active {
  //     color: $primary-blue !important;
  //   }
  // }

.nav-link {
  color: $green;
  border: $green solid 1px;
  // border-radius: 25px;
  padding: 0.5rem 2rem !important;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba($green, 0.7);
    color: white;
  }
  &.active {
    background-color: rgba($green, 1);
    color: white;
  }
}
}