// assets/styles/footer.scss
@use './variables' as *;

footer {
  background-color: $green;
  
  a {
    transition: opacity 0.3s ease;
    
    &:hover {
      font-weight: 400;
      opacity: 1 !important;
    }
  }
  
  .social i {
    color: white;
    padding-right: 0.35rem;
    transition: all 0.3s ease;
    
    &:hover {
      border-color: $primary-blue !important;
      transform: scale(1.1);
    }
  }
}