// assets/styles/header.scss
@use './variables' as *;

.navbar {
  .nav-link {
    color: $dark-blue !important;
    transition: color 0.3s ease;
    
    &:hover, &.active {
      color: $primary-blue !important;
    }
  }

  input {
    min-width: 200px;
  }
  
  .btn-outline-dark {
    border-color: $dark-blue;
    color: $dark-blue;
    
    &:hover {
      background-color: $primary-blue;
      border-color: $primary-blue;
    }
  }
}